[settings]
; https://github.com/PyCQA/isort
profile = black
known_odoo = odoo
known_odoo_addons = odoo.addons
sections = FUTURE,STDLIB,THIRDPARTY,ODOO,ODOO_ADDONS,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY
ensure_newline_before_comments = True
line_length = 88
